<div id="helpfulresources">
  <h2>Helpful Resources</h2>
  <p><%= link_to "How Adoption Works", "/how-adoption-works" %></p>
  <p><%= link_to "Dog Care", "/dog-care" %></p>
  <p><%= link_to "FAQs", questions_path %></p>
</div>