<div id="meetme">
	<%= image_tag("dog.png", :id => "dog", :border => false) %>
  <p><%= link_to "See more dogs", dogs_path %></p>
  <%= link_to image_tag("meet-me.png", :id => "meetme", :border => false), "" %>
</div>