<% content_for :dogs do %>
  <h1><%= yield(:title) %></h1>
	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>
<% end %>
<%= render :file => 'layouts/application' %>